*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#A {
    height: 500px;
    background-color: rgb(0, 255, 170);
}

#B{
    background-color: aqua;
}

#C{
    background-color: rgb(135, 125, 213);
}

#D{
    background-color: rgb(153, 29, 107);
}

#E{
    background-color: rgb(157, 29, 57);
}

#F{
    background-color: rgb(225, 255, 0);
}

#titulo{
    background-color: chartreuse;
}