* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;

    font-family:Arial, Helvetica, sans-serif;
}

main {
    background-image: url(imagenes/fondo-1400x860.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
}
#nav {
    width: 33vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

#nav li {
    display: inline-block;
    margin: 2em;
    color: lightgray;
}

section {
    height: 70vh;
    width: 35vw;
}

#A {
    margin-left: 10vw;
    margin-right: 10vw;
}

h2 {
    margin-top: 3em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
    font-size: 12px;
}

a {
    text-decoration: none;
}

button {
    background-color: cyan;
    color: white;
    padding: 1em;
    border-radius: 5px;
    border-style: none;

}
#B {
    padding-left: 10vw;
    margin-right: 10vw;
    position: relative;
}

#C {
    position: absolute;
    bottom: 0;
}

#Adobe {
    width: 40px;
}

#B img {
    height: 1.5em;
    width: auto;
}

h3 {
    margin-bottom: 0.5em;
    font-size: 16px;
}

#footer {
    background-color: #111111;
    color: white;
    padding: 1em;
    padding-left: 5em;
}

#footer span {
    color: rgb(207, 207, 63);
}